#homepage {
    padding-bottom: 10px;
}

#homepage .in-bl {
    display: inline-block;
}

#homepage .socialMedia .in-bl {
    margin: 0px 25px;
}

#homepage #github {
    border-radius: 35px;
}

#homepage #linkedin {
    border-radius: 5px;
}

#homepage #facebook {
    border-radius: 5px;
}

.project {
    padding-bottom: 20px;
    text-align: center;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.education a {
	margin: 10px;
	width: 260px;
	color: #333333;
}

.education a:hover {
	color: rgba(240,95,64,.9);
	text-decoration: none;
}

.project a:hover {
	color: rgba(240,95,64,.9);
	text-decoration: none;
}

#email a:hover {
	color: rgba(240,95,64,.9);
	text-decoration: none;
}

.socialMedia a:hover {
	text-decoration: none;
}

#portfolio {
	margin-top: 25px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

#homepage .code-link {
    font-size: 20px;
}

#homepage .header-content {
    position: relative;
    width: 100%;
    min-height: auto;
    color: #fff;
    background-image: url(../img/header3.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 800px;
}

#homepage .photo {
    width: 250px;
    height: 250px;
    border-radius: 100px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/mefull.jpg) no-repeat;
    background-size: 354%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 70px;
    background-position: 53% 5%;
}

#homepage .header-content-inner {
	padding-top: 60px;
    font-size: 64px;
    text-shadow: 2px 2px #000;
}

#homepage #portfolio {
    padding-right: 5%;
    padding-left: 5%;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
    color: #333333;
}

#homepage .socialMedia {
	margin-top: 30px;
    margin-bottom: 30px;
}

#homepage .project img {
	border: 1px solid black;
	border-radius: 5px;
}

#homepage .portfolio-box-caption {
	border-radius: 5px;
}

#homepage .school-title {
	font-size: 20px;
}

#homepage #footer {
	text-align: center;
}

#homepage #footer a:hover {
	text-decoration: none;
	color: rgba(240,95,64,.9);
}

.about-me-text, #contact .text-center {
    font-size: 18px;
}

@media screen and (max-width:800px) {
    #homepage .header-content {
        height: 800px;
    }
     #homepage .header-content-inner {
        padding-top: 75px;
    }
     #homepage .header-content #name-title {
        font-size: 52px;
    }
    #homepage .header-content #position-title {
        font-size: 44px;
    }
    #homepage .photo {
        width: 200px;
        height: 200px;
        margin-top: 130px;
    }

@media screen and (max-width:480px) {

    #homepage .header-content {
        height: 670px;
    }
     #homepage .header-content-inner {
        padding-top: 100px;
    }
     #homepage .header-content #name-title {
        font-size: 34px;
    }
    #homepage .header-content #position-title {
        font-size: 26px;
    }
    #homepage .photo {
        width: 175px;
        height: 175px;
        margin-top: 75px;
    }
    #homepage a {
    	margin-top: 15px;
    }
}

@media only screen and (max-width: 350px) {
    #homepage .header-content {
        height: 575px;
    }
     #homepage .header-content-inner {
        padding-top: 80px;
    }
     #homepage .header-content #name-title {
        font-size: 30px;
    }
    #homepage .header-content #position-title {
        font-size: 22px;
    }
    .about-me-text, #contact .text-center {
        font-size: 16px;
    }
    #homepage .photo {
        width: 150px;
        height: 150px;
        margin-top: 75px;
    }
    #homepage .socialMedia .in-bl {
    	margin: 0px 20px;
	}
}
